@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Verdana", "Geneva", "Tahoma", sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(22, 80, 68, 0.244);
}

#wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
